body {
 background: rgb(182, 182, 184);
 font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
 background: white;
 border-radius: 10px;
 padding: 15px;
 width: 500px;
 margin: auto;
 box-shadow: 5px 5px 10px rgb(156, 154, 154);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
    padding: 10px;
}

img {
    border-radius: 50%;
    max-width: 400px;
}